# Exclude node modules
node_modules

# Exclude the compiled project
dist/*

# Include the demo_assets folder
!dist/demo_assets/

# Include the built-in asset folder
!dist/builtin/
dww
### IF YOU ARE MAKING A PROJECT, YOU MAY WANT TO UNCOMMENT THIS LINE ###
!dist/project_assets/

!bundle.js
!index.html
*.log
*.cache

# This is customizing the maps
dist/project_assets/map_raw_files

# We don't need to reupload them... Just use gulp to make it
bundle.js
